{% form_theme form 'bootstrap_5_layout.html.twig' %}

{{ form_start(form) }}
        <div class="col-3">
			{{ form_row(form.firstname) }}
		</div>
         <div class="col-3">
			{{ form_row(form.lastname) }}
		</div>
        <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
