{% extends 'base.html.twig' %}

{% block title %}Auteurice{% endblock %}

{% block body %}
{% include "_navbar_user.html.twig" %}
<main class="m-2">
    <h1 class="mt-5 text-center">{{ author.firstname }} {{ author.lastname }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ author.id }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ author.firstname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ author.lastname }}</td>
            </tr>
        </tbody>
    </table>    

    <a href="{{ path('app_author_edit', {'id': author.id}) }}">Modifier</a>

    {{ include('author/_delete_form.html.twig') }}

    <h2 class="text-center">Ses livres</h2>

     <table class="table">
        <thead>
            <th>Titre</th>
            <th>actions</th>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>
                        <a href="{{ path('app_book_show', {'id': book.id}) }}">Détail</a>
                        <a href="{{ path('app_book_edit', {'id': book.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_author_index') }}">Retour à la liste</a>
</main>
{% endblock %}
