{% extends 'base.html.twig' %}

{% block title %}Livre{% endblock %}

{% block body %}
{% include "_navbar_user.html.twig" %}

    <h1 class="mt-5">Livre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>Résumé</th>
                <td>{{ book.summary }}</td>
            </tr>
            <tr>
                <th>1ère édition</th>
                <td>{{ book.firstEdition }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ book.kind }}</td>
            </tr>
            <tr>
                <th>Nombres de pages</th>
                <td>{{ book.numberPages }}</td>
            </tr>
            <tr>
                <th>Avis</th>
                <td>{{ book.advice }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src={{ book.picture }} class="" alt="image livre"></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_book_index') }}">retour à la liste des livres</a>

    <a href="{{  path('app_author_show', {'id': book.author.id}) }}">retour à l'auteurice</a>

    <a href="{{ path('app_book_edit', {'id': book.id}) }}">Modifier</a>

    {{ include('book/_delete_form.html.twig') }}
{% endblock %}
